In [3]:
import pandas as pd

# reading csv
anes_df = pd.read_csv("anes_timeseries_2020_csv_20220210.csv")
anes_df.shape

/var/folders/4s/xw0fj_5s6_9cpk200lt_69x80000gp/T/ipykernel_77763/2471312898.py:4: DtypeWarning: Columns (15,17,18,19,21,22,23,25,26,27,29,30,31,33,34,35,37,38,1508,1509) have mixed types. Specify dtype option on import or set low_memory=False.
  anes_df = pd.read_csv("anes_timeseries_2020_csv_20220210.csv")

(8280, 1771)

In [4]:
## 2 dictionaries to create two tables
stance_columns = {  ##major political disagreements
            'V201200': 'leaning',
            'V201336':'abortion',
            'V202337': 'gunrights',
            'V201235': 'taxwaste',
            'V201429': 'riotsolution',
            'V201246': 'govservices',
            'V202378': 'healthservices',
            }

# renaming columns in anes_df
anes_df.rename(columns=stance_columns, inplace=True)
#creating new dataframes of selected data
stances = anes_df[list(stance_columns.values())]
##helps the storage space to delete the anes dataframe now
del anes_df

In [5]:
stances.sample(5)

,leaning,abortion,gunrights,taxwaste,riotsolution,govservices,healthservices
2560,4,4,1,2,4,99,3
903,4,4,1,2,2,4,3
6847,99,1,3,1,5,4,2
5365,3,4,-6,1,3,3,-6
2159,3,4,1,2,3,5,3

In [6]:
stances.columns

Index(['leaning', 'abortion', 'gunrights', 'taxwaste', 'riotsolution',
       'govservices', 'healthservices'],
      dtype='object')

In [7]:
##cleaning stances data
['leaning', 'abortion', 'gunrights', 'taxwaste', 'riotsolution',
       'govservices', 'healthservices']
stances = stances.query('0 < leaning <= 7')
stances = stances.query('0 < abortion <= 4')
stances = stances.query('0 < gunrights <= 3')
stances = stances.query('0 < taxwaste <= 3')
stances = stances.query('0 < riotsolution <= 7')
stances = stances.query('0 < govservices <= 7')
stances = stances.query('0 < healthservices <= 3')
stances
##less rows in this data means people prefer to answer questions regarding feelings about people over their political beliefs

,leaning,abortion,gunrights,taxwaste,riotsolution,govservices,healthservices
0,6,2,3,1,7,1,2
1,4,4,3,1,1,3,3
2,2,4,1,1,4,6,1
3,3,1,3,2,7,7,3
4,5,3,3,1,7,2,3
...,...,...,...,...,...,...,...
8272,3,4,1,1,3,5,3
8273,6,1,3,1,7,2,3
8277,4,2,1,1,1,5,1
8278,6,3,3,1,7,2,2
8279,2,4,1,3,1,6,1

In [10]:
df1 = stances.query('leaning == 1').sample(100)
#data = {
 #   'question': df1.index,
 #   'means': df1.values
#}
df1.to_csv('04162024_anes_stance_1.csv')

In [17]:
df2 = stances.query('leaning == 2').sample(100)
#data = {
 #   'demographics': df2.index,
 #   'means': df2.values
#}
df2.to_csv('04162024_anes_stance_2.csv')

In [18]:
df3 = stances.query('leaning == 3').sample(100)
#data = {
 #   'demographics': df3.index,
 #   'means': df3.values
#}
df3.to_csv('04162024_anes_stance_3.csv')

In [19]:
df4 = stances.query('leaning == 4').sample(100)
#data = {
 #   'demographics': df4.index,
  ##  'means': df4.values
#}
df4.to_csv('04162024_anes_stance_4.csv')

In [20]:
df5 = stances.query('leaning == 5').sample(100)
#data = {
 #   'demographics': df5.index,
 #   'means': df5.values
#}
df5.to_csv('04162024_anes_stance_5.csv')

In [21]:
df6 = stances.query('leaning == 6').sample(100)
#data = {
 #   'demographics': df6.index,
 #   'means': df6.values
#}
df6.to_csv('04162024_anes_stance_6.csv')

In [22]:
df7 = stances.query('leaning == 7').sample(100)
#data = {
  #  'demographics': df7.index,
  #  'means': df7.values
#}
df7.to_csv('04162024_anes_stance_7.csv')